<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="delay" />

    <!--<arg name="node_start_delay" default="10.0" />
    node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
-->
    <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
     respawn="false" output="screen" launch-prefix="bash -c 'sleep $(arg delay); $0 $@' "/>

     <!--  -->

    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>

    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->



</launch>
