<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->

  <param name ="robot_description" command="$(find xacro)/xacro.py '$(find swarm_simulation)/launch/kobuki.xacro'" />
  <!-- Path to our plugins -->
  <env name="GAZEBO_PLUGIN_PATH" value="$(find swarm_simulation)/../../../velodyne_plugin/build"/>

  <!-- BEGIN ROBOT 1-->
   <group ns="turtlebot0">
    <param name="tf_prefix" value="robot0_tf" />
    <include file="$(find swarm_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot0" />
      <arg name="delay" value="0.1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="turtlebot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find swarm_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 15 -z 0" />
      <arg name="robot_name"  value="Robot1" />
      <arg name="delay" value="1.0" />
    </include>
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="turtlebot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find swarm_simulation)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 5 -y 9.5 -z 0" />
      <arg name="robot_name"  value="Robot2" />
      <arg name="delay" value="2.0" />
    </include>
  </group>
</launch>
